<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sangi Mongies</title>
  <link rel="stylesheet" href="/TechWizzy/template/styles.css">
  <link rel="icon" type="image/png" href="/TechWizzy/img/jolly-roger.png">

</head>
<body>
  <div class="main">
    <div class="nav-bar">
      <div class="nav-head">WELCOME KIDDOS</div>
    </div>
  </div>
  <hr>
  <div class="container">
    <div class="gallery">
      
      <a href="/TechWizzy/learning-process/index.html">
        <div id="toSanji" class="image"><img src="/TechWizzy/img/Sanji-card2.jpeg" alt="">
          <div class="overlay">Cook with Sanji</div>
        </div>
      </a>
      
  
      <a href="/TechWizzy/training-time/word-list.html">
        <div class="image"><img src="/TechWizzy/img/Train-with-zoro.jpeg" alt="">
          <div class="overlay">Train with Zoro</div>
      </a>
     

      
      </div>  
  </div>
   
    <!--
    <button><a href="/learning-process/index.html" style="color: rgb(207, 207, 64);">Sanji-san</a></button>
    <button><a href="index.js" style="color: green;">Zoro</a></button>-->

  </div>

  
</body>
</html>